@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&family=Playwrite+GB+S&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #333;
    font-family: "Playwrite GB S", serif;
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 20px 0;

        h1{
            font-size: 3rem;
            color: #fff;
            font-weight: 900;
        }

        .itemBox{
            display: flex;
            gap: 1rem;

            #typeVal{
                padding: 10px;
                border-radius: 10px;
                outline: none;
                background-color: orangered;
                border: none;
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
            }
            button{
                padding: 10px;
                border-radius: 10px;
                background-color: blue;
                border: none;
                outline: none;
                color: white;
                font-size: 1rem;
                font-weight: 800;
                cursor: pointer;
            }
            #inputBox{
                padding: 10px;
                border-radius: 10px;
                outline: none;
                border: none;
                font-size: 1rem;
            }
        }
    }
    main{
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding-top: 30px;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        
        .poke{
            width: 200px;
            height: 300px;
            perspective: 800px;
            .outer{
                position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all 0.5s ease-in-out;
                .card, .back-part{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    display: flex;
                    padding-top: 10px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;

                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transform: rotateY(0deg);
                    z-index: 2;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;
                    
                    p{
                        background-color: #fff;
                        text-align: center;
                        width: 100%;
                    }
                    h2{
                        text-align: center;
                    }
                    h6{
                        text-align: center;
                        background-color: #fff;
                        padding: 5px 20px;
                        border-radius: 20px;
                        cursor: pointer;
                        font-size: 1rem;
                    }
                }
                .back-part{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    overflow: hidden;
                    transform: rotateY(180deg);
                    transition: all 0.4s;
                }
            }
        }
        
    }
}
 .outer:hover{
    transform: rotateY(180deg);
}